/* iCheck plugin Square skin, blue
----------------------------------- */
.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-blue {
    background-position: 0 0;
}
    .icheckbox_square-blue.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-blue.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-blue.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-blue.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-blue {
    background-position: -120px 0;
}
    .iradio_square-blue.hover {
        background-position: -144px 0;
    }
    .iradio_square-blue.checked {
        background-position: -168px 0;
    }
    .iradio_square-blue.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-blue.checked.disabled {
        background-position: -216px 0;
    }

.login-box-hedaer {
  background: #ec6f1d none repeat scroll 0 0;
  color: #ffffff;
  font-size: 24px;
  padding: 11px 20px;
}
.login-box-hedaer i {
  color: rgba(0, 0, 0, 0.15);
  float: right;
  font-size: 50px;
  position: relative;
  right: -13px;
  top: -9px;
}
.login-logo {
  left: -10px;
  position: relative;
  text-align: center;
  top: 20px;
}
.form-control {
  border-color: #ec6f1d;
  border-radius: 0;
  box-shadow: none;
}
.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
  color: #ec6f1d;
}
.btn.btn-primary.btn-block.btn-flat {
  margin-bottom: 27px;
}
.btn.btn-primary.btn-block.btn-flat:active{
	background:#ec6f1d;
	  border-color: #ec6f1d;
}
.btn.btn-primary.btn-block.btn-flat:focus{
	background:#052C7D;
	  border-color: #052C7D;
}
.btn-primary {
  background-color: #052C7D;
  border-color: #052C7D;
}
.btn-primary:hover {
  background-color: #ec6f1d;
  border-color: #ec6f1d;
}
.login-box, .register-box {
  margin: 2% auto;
  width: 360px;
}
 /*===============================black theame start==================================================*/
.login-box-hedaer {
  background: #052C7D none repeat scroll 0 0 !important;
}
.form-group.has-feedback .form-control {
  border: 1px solid #000;
}
.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
  color: #000 !important;
}
.col-xs-4 input {
  background: #052C7D none repeat scroll 0 0;
  border: 1px solid #052C7D !important;
}
.login-box-hedaer i {
  color: rgba(255, 255, 255, 0.25);
}
.btn.btn-primary.btn-block.btn-flat:hover {
  background: #000 none repeat scroll 0 0;
}
 /*===============================black theame end==================================================*/
/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}