



.msgValid{
	color:#F00;
}

.input-group-addon.old-icon {
  width: 10px;
}

.form-control.deposite {
  width: 475px;
}

.logo img {

  width: 81%;

}

.main-sidebar {

  background: #000000 none repeat scroll 0 0 !important;

}

.logo img {

  width: 164px;

   padding: 3px;

}

.logo-mini img {

  width: 48px;

   padding: 3px;

}

.skin-blue .treeview-menu > li > a {

  color: #8aa4af;

  padding: 10px !important;

}

.small-box.bg-yellow {

  background: #ec6f1d none repeat scroll 0 0 !important;

}

.btn.btn-warning.totalmember {

  margin-right: 34px;

}

.btn.btn-warning {

  background: #ec6f1d none repeat scroll 0 0;

}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {

  border-color: #ec6f1d;

  color: #ffffff;

  cursor: default;

  z-index: 2;

  background: #EC6F1D;

}

.btn-warning:hover, .btn-warning:active, .btn-warning.hover {

  background-color: #ff8432 !important;

}

.dropdown.user.user-menu.open .dropdown-menu {

  min-width: 100px;

  width:100px;

}

.reveal-modal .close-reveal-modal {

  height: 25px !important;

  width: 25px !important;

}

.panel-heading a i {
  color: #ec6f1d;
}

.form-control:focus {
  border-color: #ec6f1d !important;
  box-shadow: none;
}



/*=======================================Model Css start Here=================================================*/



.reveal-modal {

  background: #fafafa none repeat scroll 0 0;

  border: 3px solid #0167c0;

  border-radius: 7px;

  left: 10%;

  min-height: auto;

  padding: 10px;

  position: fixed !important;

  top: 119px !important;

  visibility: hidden;

  width: 80%;

  z-index: 1000;

}
.btn.btn-primary {
  background: #ec6f1d none repeat scroll 0 0 !important;
  border: 1px solid #ec6f1d;
}

/*=======================================Model Css End Here=================================================*/

@media only screen and (max-width: 1024px){

	.divoverflow {

  overflow-x: auto !important;

}



}

@media only screen and (max-width: 767px){



.btn.btn-warning.totalmember {

  float: left !important;

  margin-right:0px;

}

.box-title {

  width: 100%;

  padding-bottom:20px;

}

.divoverflow {

  overflow-x: auto;
  margin-bottom:25px;

}

.reveal-modal{
	
position:absolute !important;

}



}


